<% if cur_user.admin_mode %>
	<div class="row">
  	<div class="col-md-6 col-md-offset-3">
    <%= form_for(:genre, :url => "/genres/create") do |f| %>
      <%= f.label :Genrename %><br/>
      <%= f.text_field :genreName %><br/>

      <%= f.submit "Create a genre", class: "btn btn-primary" %>
    <% end %>
  	</div>
	</div>
<% else %>
	flash[:error]="Access Denied"
<% end %>